:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-neutral: #fefefe;
  --color-primary: #eef2f6;
  --color-accent: #4c8af4;

  --shadow-base: 0.1px 0.1px 0.1px rgba(0, 0, 0, 0.028),
    0.1px 0.1px 0.3px rgba(0, 0, 0, 0.04), 0.3px 0.3px 0.5px rgba(0, 0, 0, 0.05),
    0.4px 0.4px 0.9px rgba(0, 0, 0, 0.06),
    0.8px 0.8px 1.7px rgba(0, 0, 0, 0.072), 2px 2px 4px rgba(0, 0, 0, 0.1);

  --shadow-raised: 0.2px 0.2px 0.5px rgba(0, 0, 0, 0.028),
    0.4px 0.4px 1.3px rgba(0, 0, 0, 0.04), 0.8px 0.8px 2.4px rgba(0, 0, 0, 0.05),
    1.3px 1.3px 4.2px rgba(0, 0, 0, 0.06),
    2.5px 2.5px 7.9px rgba(0, 0, 0, 0.072), 6px 6px 19px rgba(0, 0, 0, 0.1);
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: var(--color-primary);
}

#root {
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: OperatorMono Nerd Font;
  font-weight: 200;
}
